@model E_LearningProject.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row justify-content-center align-items-center" style="background-color:#D9D9D9; min-height: 590px; padding-top: 40px; padding-bottom: 20px;">

    <div class="text-center">
        <h5>Forgot Password</h5>
        <h3 style="margin-top: 10px; color:darkblue;">This feature is still under development, it will be available soonest. So sorry for the inconvenience.</h3>
    </div>

</div>


@* <div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center" style="background-color:#D9D9D9; min-height: 570px;">


    <h2>Forgot Password</h2>
    <h3 style="text-align:center;">This feature is still in under development, it will be available soonest. So sorry for the inconvience.</h3> *@

    @* <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input asp-for="Email" class="form-control" placeholder="name@example.com" />
        </div>

        <button type="submit" class="w-100 btn btn-lg"
                style="background-color:#7A046A; color:white; font-family:inria serif; font-size: 18px; font-weight: bold; border-radius:10px;">
            Send Reset Link
        </button>
    </form> *@
@* </div>
</div> *@
