@model E_LearningProject.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<p>Enter your email to receive a password reset link.</p>

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
    </div>

    <button type="submit" class="w-100 btn btn-lg"
            style="background-color:#7A046A; color:white; font-family:inria serif; font-size: 18px; font-weight: bold; border-radius:10px;">
        Send Reset Link
    </button>
</form>
